<div class="flex">
  <div class="flex-item">
    <div style="display: block;">
      <div
        *ngIf="!isDataAvailable"
        style="width:80%; background-color: lightgrey; margin:30px auto; padding:20px; text-align:center"
      >
        Loading...
      </div>
      <canvas
        *ngIf="isDataAvailable"
        baseChart
        width="300"
        height="150"
        [datasets]="lineChartData"
        [labels]="lineChartLabels"
        [colors]="lineChartColors"
        [legend]="lineChartLegend"
        [chartType]="lineChartType"
        [plugins]="lineChartPlugins"
      ></canvas>
    </div>
  </div>
</div>
