<div class="header" style="border-bottom: 1px solid darkturquoise; margin-bottom: 20px">
    <img src="https://us.castlighthealth.com/api/content/logos?brand_id=generic_castlight&random=f41634fff2e7e99a865b1075c2154183" style="margin: 0 15px; position: absolute">
    <h2 style="text-align: center">Line Graph of Steps Syncing Gaps</h2>
</div>
<div class="container">
    <img src="https://cdn.castlighthealth.com/image/upload/v1529604576/Program-Benefit_Header-Images/get-active.png" style="width: 98%; margin: 1%">
    <app-line-chart></app-line-chart>
    <div style="border-top: 1px solid black">
        <h4 style="margin: 20px auto; text-align: center">Castlight Health, Inc.</h4>
    </div>
</div>
